<p id="notice"><%= notice %></p>

<h1>Hub 31 - Technologie- und Gründerzentrum Darmstadt</h1>
<div onclick="$('html').toggleClass('box_open');$('.expand').toggleClass('expand')" class="shadow"></div>
<% @bells.each do |bell| %>
  <div class="bell">
    <div class="logo" onclick="$(this).parent().toggleClass('expand');$('html').toggleClass('box_open')"><%= image_tag(bell.logo) %></div>
    <div class="name"><%= bell.name %></div>
    <div class="ring_button"><%= link_to 'Klingeln', bell %></div>
  </div>
<% end %>
