<div class='blur'>
    <h1 class='bellheading'>
      <b>Willkommen</b>
      - HUB31 - Technologie- und Gründerzentrum Darmstadt
    </h1>
    <div class='alphabetical-filter'></div>
    <div class='bells'>
    - @bells.each do |bell|
        .bell{"data-name" => bell.name, "data-toggle" => "modal", "data-target" => "#bell"+bell.id.to_s, style: 'background-color: '+bell.background.to_s}
          - if not bell.logo.empty?
            .logo
              = image_tag(bell.logo)
          - else
            .name
              #{bell.name}
          - if not bell.trigger.empty?
            %span.bell-icon
              %i.fa.fa-bell-o
    </div>
  </div>

  <!-- Bootstrap Modal -->
  - @bells.each do |bell|
  - if not bell.trigger.empty?
    <!-- .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1", id: "bell"+bell.id.to_s} -->
        <div class='modal fade'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <!--  %h5#exampleModalLabel.modal-title Bei #{bell.name} klingeln -->
                        <h5 class='modal-title' id='exampleModalLabel'>Es wird geklingelt</h5>
                        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
                            <span aria-hidden='true'>×</span>
                        </button>
                    </div>
                    <!-- .modal-body -->
                    <div class='modal-body' id='ring_info'>
                        Falls jemand im Büro ist werden Sie hier an der Eingangstür abgeholt.
                    </div>
                    <div class='modal-footer'>
                        <button class='btn btn-secondary' data-dismiss='modal' type='button'>Abbrechen</button>
                        <button class='btn btn-danger'>Klingeln</button>
                      </div>
                      
                </div>
            </div>
        </div>
  
<!-- .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1", id: "request_send"} -->
    <div class='modal fade'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Es wird geklingelt</h5>
                    <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
                        <span aria-hidden='true'>×</span>
                    </button>
                </div>
                <div class='modal-body' id='ring_info'>
                    ...
                </div>
            </div>
        </div>
    </div>
          
         