.blur
  %h1.bellheading
    %b Willkommen
    \- HUB31 - Technologie- und Gründerzentrum Darmstadt
  .alphabetical-filter
    %span.alphabetical-filter-item A
    %span.alphabetical-filter-item B
    %span.alphabetical-filter-item C
    %span.alphabetical-filter-item D
    %span.alphabetical-filter-item E
    %span.alphabetical-filter-item F
    %span.alphabetical-filter-item G
    %span.alphabetical-filter-item H
    %span.alphabetical-filter-item I
    %span.alphabetical-filter-item J
    %span.alphabetical-filter-item K
    %span.alphabetical-filter-item L
    %span.alphabetical-filter-item M
    %span.alphabetical-filter-item N
    %span.alphabetical-filter-item O
    %span.alphabetical-filter-item P
    %span.alphabetical-filter-item Q
    %span.alphabetical-filter-item R
    %span.alphabetical-filter-item S
    %span.alphabetical-filter-item T
    %span.alphabetical-filter-item U
    %span.alphabetical-filter-item V
    %span.alphabetical-filter-item W
    %span.alphabetical-filter-item X
    %span.alphabetical-filter-item Y
    %span.alphabetical-filter-item Z

  .bells
    - @bells.each do |bell|
      .bell{"data-name" => bell.name, "data-toggle" => "modal", "data-target" => "#bell"+bell.id.to_s, style: 'background-color: '+bell.background.to_s}
        - if not bell.logo.empty?
          .logo
            = image_tag(bell.logo)
        - else
          .name
            #{bell.name}
        - if not bell.trigger.empty?
          %span.bell-icon
            %i.fa.fa-bell-o

/ Bootstrap Modal
- @bells.each do |bell|
  - if not bell.trigger.empty?
    .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1", id: "bell"+bell.id.to_s}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Bei #{bell.name} klingeln
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            Falls jemand im Büro ist werden Sie hier an der Eingangstür abgeholt.
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Abbrechen
            %button.btn.btn-danger{:type => "button", onclick: "ringring("+bell.id.to_s+")"} Klingeln

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1", id: "request_send"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Es wird geklingelt
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body#ring_info
        \...
