// Place all the styles related to the Bells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bells
  border-spacing: 10px
  border-collapse: separate
  tr
    background-color: rgba(88, 88, 90, 0.25)
    
    td
      font-size: 20px
      margin: 20px 0
    .logo img
      height: 80px
    .ring_button a
      display: block
      padding: 30px
      background-color: #BD0926
      color: white
      text-decoration: none
    