// Place all the styles related to the Bells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body .blur
  user-select: none

.bellheading
  font-size: 20px
  position: fixed
  display: block
  width: 100%
  border-bottom: 1px solid black
  background-color: white
  z-index: 10
  left: 0
  top: 0
  padding: 10px

.bells
  padding: 45px 0 0 0
  position: absolute
  top: 0
  left: 0
  right: 0

.blur
  transition: all 0.3s ease-in-out
  filter: blur(0)
  padding-top: 50px

.blur_active
  filter: blur(10px)

.bell
  width: 100%
  height: 100px
  display: inline-block
  vertical-align: top
  transition: all 1s ease
  position: relative
  overflow: visible
  background-color: #fff
  cursor: pointer
  border-bottom: 1px solid black
  .logo
    vertical-align: middle
    position: absolute
    top: 50%
    transform: translateY(-50%)
    img
      max-height: 80px
      max-width: 300px
      margin: 10px
  .name
    position: absolute
    bottom: 10px
    right: 20px
    font-size: 30px

.modal-dialog
  margin: 30vh auto
