%footer.text-muted
  .container
    %p
      The HUB 31 bell is maintained by
      = succeed "." do
        %a{href: 'https://t.me/Master92'}> Moritz Mair
      For contributing please make a pull request on
      = succeed "." do
        %a{href: 'https://github.com/moritzmair/touchbell'}> Github
